<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desmond Designs Portfolio</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/images/bglicon.png" type="image/x-icon">
</head>
<%- include('./partials/loader.ejs') %>

    <body onload="hideLoader()">
        <%- include('./partials/nav.ejs') %>
            <header>
                <h1><span class="z">I'm Desmond,</span> A Developer who loves
                    unveiling the World of Creative Designs,
                    Solutions and Interactive Interfaces</h1>
                <div class="btn">
                    <a href="/contact"><button class="left">Let's Talk <img src="/images/Vector.png"
                                alt=""></button></a>
                    <a href="/portfolio"><button class="right">Our Services</button></a>
                </div>
                <div class="circle r"></div>
                <div class="red"></div>

            </header>
            <main>
                <section class="fi">
                    <section class="showglass">
                        <div class="obj"><img src="/images/cert.png" alt=""></div>
                        <div class="obj"><img src="/images/b.png" alt=""></div>
                        <div class="obj"><img src="/images/c.png" alt=""></div>
                        <div class="obj"> <img src="/images/img.png" alt=""></div>
                        <div class="obj"><img src="/images/fig.png" alt=""></div>
                        <div class="obj"><img src="/images/a.png" alt=""></div>
                        <div class="obj"><img src="/images/f.png" alt=""></div>
                        <div class="obj"><img src="/images/d.png" alt=""></div>
                        <div class="obj"><img src="/images/scr.png" alt=""></div>

                    </section>
                </section>

                <section class="offers">
                    <h2><span class="z">My Offers</span> for You </h2>
                    <p class="f">Embark on my Design Journey: Creativity through Passion, Dedication and Precision</p>
                    <div class="container">
                        <div class="contain">
                            <div class="card">

                                <h4>User experience</h4>
                                <p>Crafting seamless and intuitive user journey to
                                    enhance engagement and satisfaction</p>
                            </div>
                        </div>
                        <div class="contain">
                            <div class="card">

                                <h4>User Interface</h4>
                                <p>creating visual appealing interface that combine aesthetic with functionality</p>
                            </div>
                        </div>
                        <div class="contain">
                            <div class="card">

                                <h4>Front-End Web Development</h4>
                                <p>Creating cohesive visual representation of a brand through elements like logos,
                                    typography,
                                    and
                                    color schemes to
                                    effectively convey its values and 
                                    personality.</p>
                            </div>
                        </div>
                        <div class="contain">
                            <div class="card">

                                <h4>Back-End Web Development</h4>
                                <p>creating visually compelling materials, including logos, layouts, and illustrations,
                                    to
                                    communicate ideas and
                                    enhance brand identity.</p>
                            </div>
                        </div>
                        <div class="contain">
                            <div class="card">

                                <h4>Full Stack Web Development</h4>
                                <p>Designing intuitive and user-friendly mobile application for iOS and
                                    Android platforms
                                </p>
                            </div>
                        </div>
                        <div class="contain">
                            <div class="card">

                                <h4>Website Redesign</h4>
                                <p>Redesigning Website, either in the Ui or the server side functionality
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="prevwork">
                    <div class="prev">
                        <h2><span class="z">Experience</span> Peak Creativity
                            through Passion, Precision,
                            and Purpose</h2>
                        <div class="text"> Crafting Balanced and tailored Solution with User Interface, Typography,
                            Colour
                            Scheme, User Expirence and Prototyping to Elevate Your Digital Presence And
                            Creating Lasting Impression
                            <a href="/portfolio?style=mobile"><button class="left">View all previous work<img
                                        src="/images/Vector.png" alt=""></button></a>
                        </div>
                    </div>
                    <div class="work">
                        <% if (projects.length>0) { %>
                            <% for( let index=0; index < projects.length; index++ ) { %>
                                <div class="workcard">
                                    <img src="<%= projects[index].images[0] %>" class="preview" alt="">
                                    <div class="workname">
                                        <h4>
                                            <%= projects[index].title %>
                                        </h4>
                                        <a href="/details?id=<%= projects[index]._id %>"><button class="all">View
                                                previous
                                                work<img src="/images/Vector.png" alt=""></button></a>

                                    </div>
                                </div>
                                <% } %>
                                    <% } else { %>
                                        <h2>No Projects have been Uploaded</h2>
                                        <% } %>

                    </div>
                </section>
                <section class="exp">
                    <h2>My Work <span class="z">Experience</span></h2>
                    <p>Journey Through Design: A Comprehensive Exploration of My Design Journey and Evolution</p>
                    <section class="table">
                        <table>
                            <thead>
                                <th>Company / Client</th>
                                <th>Role</th>
                            </thead>
                            <tbody>
                                <% if (exp.length>0) { %>
                                    <% for( let index=0; index < exp.length; index++ ) { %>
                                        <tr>
                                            <td>
                                                <%= exp[index].company %>
                                            </td>
                                            <td class="itemer">
                                                <%= exp[index].role %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <% } else { %>
                                                <h2>No work experience has been uploaded </h2>
                                                <% } %>
                            </tbody>

                        </table>

                        <a href="/about"><button class="all expp">See More<img src="/images/Vector.png"
                                    alt=""></button></a>
                    </section>

                </section>
                <center>
                    <section class="socials">

                        <div class="soct">
                            <h2>Follow us on
                                <span class="z">Social Media</span>
                            </h2>
                            <p>Find out more about us by following us.</p>
                        </div>
                        <a href="/about"><button class="all" id="all">About Us<img src="/images/Vector.png"
                                    alt=""></button></a>

                    </section>
                </center>
            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>