<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Projects</title>
    <link rel="stylesheet" href="./css/portfolio.css">
    <link rel="shortcut icon" href="/images/bglicon.png" type="image/x-icon">
</head>
<%- include('./partials/loader.ejs') %>

    <body onload="hideLoader()">
        <%- include('./partials/nav.ejs') %>
            <div class="circle r"></div>
            <div class="circle t"></div>
            <header>
                <h1>Discover Our Creative Project</h1>
                <p>Journey Through Our Diverse Project, Unveiling Innovation, Creativity and Excellence</p>

            </header>
            <main>

                <section class="cat">
                    <% if (style=="All" ) { %>
                        <ul class="catlist">
                            <a href="/portfolio?style=All" id="cp">
                                <li>All</li>
                            </a>
                            <a href="/portfolio?style=Frontend">
                                <li>Front-End</li>
                            </a>
                            <a href="/portfolio?style=Backend">
                                <li>Back-End</li>
                            </a>
                            <a href="/portfolio?style=Fullstack">
                                <li>Full-Stack</li>
                            </a>
                            <a href="/portfolio?style=Mobile">
                                <li>Mobile</li>
                            </a>
                        </ul>
                        <% } else if (style=='Frontend' ) { %>
                            <ul class="catlist">
                                <a href="/portfolio?style=All">
                                    <li>All</li>
                                </a>
                                <a href="/portfolio?style=Frontend" id="cp">
                                    <li>Front-End</li>
                                </a>
                                <a href="/portfolio?style=Backend">
                                    <li>Back-End</li>
                                </a>
                                <a href="/portfolio?style=Fullstack">
                                    <li>Full-Stack</li>
                                </a>
                                <a href="/portfolio?style=Mobile">
                                    <li>Mobile</li>
                                </a>
                            </ul>
                            <% } else if (style=='Backend' ) { %>
                                <ul class="catlist">
                                    <a href="/portfolio?style=All">
                                        <li>All</li>
                                    </a>
                                    <a href="/portfolio?style=Frontend">
                                        <li>Front-End</li>
                                    </a>
                                    <a href="/portfolio?style=Backend" id="cp">
                                        <li>Back-End</li>
                                    </a>
                                    <a href="/portfolio?style=Fullstack">
                                        <li>Full-Stack</li>
                                    </a>
                                    <a href="/portfolio?style=Mobile">
                                        <li>Mobile</li>
                                    </a>
                                </ul>
                                <% } else if (style=='Fullstack' ) { %>
                                    <ul class="catlist">
                                        <a href="/portfolio?style=All">
                                            <li>All</li>
                                        </a>
                                        <a href="/portfolio?style=Frontend">
                                            <li>Front-End</li>
                                        </a>
                                        <a href="/portfolio?style=Backend">
                                            <li>Back-End</li>
                                        </a>
                                        <a href="/portfolio?style=Fullstack" id="cp">
                                            <li>Full-Stack</li>
                                        </a>
                                        <a href="/portfolio?style=Mobile">
                                            <li>Mobile</li>
                                        </a>
                                    </ul>
                                    <% } else if (style=='Mobile' ) { %>
                                        <ul class="catlist">
                                            <a href="/portfolio?style=All">
                                                <li>All</li>
                                            </a>
                                            <a href="/portfolio?style=Frontend">
                                                <li>Front-End</li>
                                            </a>
                                            <a href="/portfolio?style=Backend">
                                                <li>Back-End</li>
                                            </a>
                                            <a href="/portfolio?style=Fullstack">
                                                <li>Full-Stack</li>
                                            </a>
                                            <a href="/portfolio?style=Mobile" id="cp">
                                                <li>Mobile</li>
                                            </a>
                                        </ul>
                                        <% } %>
                </section>
                <section class="work">
                    <% if (projects.length>0) { %>
                        <% for( let index=0; index < projects.length; index++ ) { %>
                            <div class="workcard">
                                <img src="<%= projects[index].images[0] %>" class="preview" alt="">
                                <div class="workname">
                                    <h4>
                                        <%= projects[index].title %>
                                    </h4>
                                    <a href="/details?id=<%= projects[index]._id %>"><button class="all">View
                                            Details<img src="/images/Vector.png" alt=""></button></a>

                                </div>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <h2 class="notice">No Projects have been Uploaded of this kind</h2>
                                    <% } %>

                                        </div>

                </section>
            </main>
            <%- include('./partials/footer.ejs') %>
    </body>
    <script>

    </script>

</html>